.box-planet__boximage {
    text-align: center;
    position: relative;
}
.box-planet__text {
    padding: 6px;
    position: absolute;
    left: 23%;
}
.box-planet__img {
    background-image: url('../../images/star.gif');
    background-size: 100% 100%;
    height: 205px;
}
